// Colors
$beige        : #e9e6dd;
$navy         : #182B38;
$green        : #93AE29;
$red          : #c53f1b;
$lightgrey    : #8A9C8E;
$darkgrey     : #5E5E5E;
$verydarkgrey : #222222;

$red          : #D12C22;
$teal         : #019499;
$gold         : #FAD08D;
$gray-teal    : #e7edef;

// Sizes
$footer-height : 110px;
$footer-padding: 130px !important;
$message-thumbnail-size: 50px;
$profile-radius: 1rem;

$sidebar-width: 200px;
$mobile-sidebar-width: 50px;

$content-max-width: 1200px;