@import 'variables';
@import 'mixins';

// Convenience classes
.no-top-margin {
  margin-top: 0px !important;
}
.some-top-margin {
  margin-top: 1rem;
}
.lots-of-top-margin {
  margin-top: 2.5rem;
}

.small-and-light {
  font-size: 0.85em;
  font-weight: 300;
}

.auto-line-spacing {
  line-height: 1.3rem !important;
}

.hide {
  display: none;
}

.left {
  float: left;
}
.right {
  float: right;
}
.pos-left {
  left: 0;
}
.pos-right {
  right: 0;
}

.center {
  text-align: center;
}
.justify {
  text-align: justify;
}

.light-gray {
  color: #BBB;
}
.green {
  color: $green;
}
.full-width {
  width: 100%;
}
.half-width {
  width: 50%;
}
.half-width-spaced {
  width: 47%;
  margin-right: 3%;
}
.third-width {
  width: 34%;
}
.third-width-spaced {
  width: 30%;
  margin-right: 3%;
}

.full-width {
  width: 100%;
}
.full-height {
  height: 100%;
}
.full-width-and-height {
  width: 100%;
  height: 100%;
}
.pre-wrap {
  white-space: pre-wrap; // Turns \n into <br/>, essentially.
}

.raleway {
  font-family: 'Raleway' !important;
  font-weight: 700;
}