.dashboard-wrapper {
  position: relative;
  max-width: $content-max-width;

  .first-row {
    overflow: auto;
  }

  section {
    margin-bottom: 30px;

    & > header {
      position: relative;
      background: $navy;
      border-top: 2px solid lighten($navy, 15%);
      border-radius: 0.8rem 0.8rem 0 0;
      text-shadow: 1px 1px 0px darken($navy, 10%), 2px 2px 0px darken($navy, 10%);
      margin: 0;
      padding: 0.5rem 1rem;
      font-size: 1.5em;
      color: #FFF;
    }
  }


  section.concierge {
    

    .concierge-box {
      overflow: auto;

      h3 {
        margin-top: 0;
        margin-bottom: 0.2rem;
      }
      h5 {
        margin: 0;
        color: $teal;
      }

      p {
        font-size: 0.8em;
      }

      button {
        position: relative;
        color: #FFF;
        padding: 0.4rem 0.8rem;
        border: 0;
        border-radius: 4px;
        margin: 0.5rem auto 0 auto;
        background: darken($green, 5%);
      }

      img {
        float: left;
        width: 40%;
        margin-right: 20px;
        border-radius: 5px;
      }
    }
  }

  section.notifications {
    .notification-row {
      display: block;
      border-bottom: 1px solid darken($beige, 12%);
      overflow: auto;
      padding: 0.5rem 0;

      &:first-of-type {
        padding-top: 0;
      }
      &:last-of-type {
        border: 0;
        padding-bottom: 0;
      }
    }


    .actions {
      padding-left: 1rem;
    }
    .timestamp {
    }
    .message {
      padding-right: 1rem;
    }
  }

  section.favorites {

  }

  section.events {
  }

  section.blog {
  }

}

// Breakpoint for the dashboard grid
@media screen and (min-width: 900px) {
  .dashboard-wrapper {
    section.concierge {
      float: left;
      width: 48%;
      margin-right: 3%;
    }

    section.notifications {
      float: left;
      width: 49%;
    }

    section.events {
      float: left;
      width: 31%;
      margin-right: 3%;
    }

    section.blog {
      float: left;
      width: 66%;
    }
  }
}