$blue:        #04BFBF;
$green:       #588F27;
$yellow:      #F7E967;
$lightblue:   #CAFCD8;
$lightgreen:  #A9CF54;
$darkgrey:    #2E2E2E;
$mediumgrey:  #57524D;
$offwhite:    #F0F0F0;
$white:       #FFFFFF;
$black:       #111111;
