<div class="content-wrapper">
  <div class="title"><h2>Site Overview</h2></div>
  <div class="content-box">
    <div class="card center">
      <h4>Number of Daters:</h4>
      <h1 class="green"><%= @daters.count %></h1>
      <p>(<%= @paid_daters.count %> paying, <%= @trial_daters.count %> on free trial )</p>
    </div>
    
  </div>
  
</div>