body {
    margin: 0;
}

.main {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.fast {
    animation: slideIn 1s ease-in-out;
}

.cool {
    padding: 20px;
    border: 0;
    background-color: dodgerblue;
    color: #fff;
    box-shadow: 0px 2px 12px 2px #a5a5a5;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

@keyframes bounce {
    from {
        transform: scale(1) rotate(0deg);
    }

    80% {
        transform: scale(1.2) rotate(290deg);
    }

    90% {
        transform: scale(0.8 rotate(320deg));
    }

    to {
        transform: scale(1) rotate(360deg);
    }
}

.cool:hover {
    animation: bounce 1s ease-in-out;
}
