body {
  margin: 0;
}

.nav {
  padding: 10px;
  background-color: #3a3633;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav > a {
  color: #fff;
  margin: 0 40px;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
  transition: opacity 0.2s ease-in-out;
}

.logo {
  display: block;
}

.nav > a:hover {
  opacity: 0.5;
}
