
<li>
  <%= link_to admin_daters_path, id: 'sidebar-browse-link' do %>
    <span class="nav-text-link">Daters</span><%= fa_icon 'users' %>
  <% end %>
</li> 
<li>
  <%= link_to admin_daters_path, id: 'sidebar-concierge-link' do %>
    <span class="nav-text-link">Concierges</span><%= fa_icon 'bell' %>
  <% end %>
</li>  
