<aside>
  <header>
    <h1><a href="/">K<span class="hidden-in-mobile">inected</span></a></h1>
  </header>

  <div class="profile-img-container">
    <%= link_to dater_path(id: current_user.id), class: 'profile-link' do %>
      <%= image_tag current_user.primary_profile_photo_thumb %>
      <div class="edit-profile-mouseover">Edit My Profile</div>
    <% end %>
  </div>
    
  <nav>
    <ul>
      <%= render partial: 'layouts/nav_links_dater', locals: { mobile: false } %>
    </ul>
  </nav>
  
  <div class="bottom-buttons">
    <button>Make a Match</button>
    <button>Invite a Friend</button>
  </div>
</aside>