<section class="contact" ng-show="!home.activeProject">
  <div class="width-wrapper">
    <h2 class="title">Let's talk!</h2>
    <p class="intro">I'm friendly and all over the internet. Pick your poison:</p>


    <div class="contacts">
      <ul>
        <li>
          <a href="mailto:joshwcomeau@gmail.com"><i class="icon icon-envelope icon-fw"></i>joshwcomeau@gmail.com</a>
        </li>
        <li>
          <a href="https://github.com/joshwcomeau"><i class="icon icon-github icon-fw"></i>joshwcomeau</a>
        </li>
        <li>
          <a href="https://www.linkedin.com/profile/view?id=340630788"><i class="icon icon-linkedin icon-fw"></i>Joshua Comeau</a>
        </li>
        <li>
          <a href="https://www.twitter.com/joshwcomeau"><i class="icon icon-twitter icon-fw"></i>@joshwcomeau</a>
        </li>
        <li>
          <a href="https://www.facebook.com/joshwcomeau"><i class="icon icon-facebook icon-fw"></i>joshwcomeau</a>
        </li>
      </ul>
    </div>
  </div>
</section>
