<section class="projects">
  <div class="modal active-project" modal ng-show="home.activeProject">
    <div class="active-project-container" ng-show="home.activeProject">
      <div class="close" close-project>
        <%= image_tag "cross_white.png" %>
      </div>
      <header ng-style="{'background': home.activeProject.colour}">
        <h3>
          <span>{{home.activeProject.display_name}}</span>
          <a ng-href="{{home.activeProject.demo_link}}" ng-show="home.activeProject.demo_link" target="_blank"><i class="icon icon-link"></i></a> 
          <a ng-href="{{home.activeProject.github_link}}" ng-show="home.activeProject.github_link" target="_blank"><i class="icon icon-github"></i></a>
        </h3>
          
      </header>

      <div class="grid">
        <div class="content" ng-bind-html="home.parseAsHTML(home.activeProject.overview)">
          <!-- injected Angular content goes here -->
        </div>

        <div class="detail-image">
          <a ng-href="{{home.activeProject.demo_link || home.activeProject.github_link}}" target="_blank">
            <img ng-src="{{home.activeProject.images[0].src}}">
          </a>
        </div>
      </div>

      

      <div class="project-stats">
        <ul class="stat-ul">
          <li>
            <span class="title">Technical Challenges:</span> <span ng-bind-html="home.parseAsHTML(home.activeProject.technical_challenges)"></span>
          </li>
          <li class="half">
            <span class="title">Project Type:</span> {{home.activeProject.project_type}}
          </li><li class="half">
            <span class="title">Project Length:</span> {{home.activeProject.project_length}}
          </li><li class="half" ng-show="home.activeProject.integration">
            <span class="title">Third-Party Integrations:</span> {{home.activeProject.integration}}
          </li><li class="half" ng-show="home.activeProject.stack">
            <span class="title">Stack:</span> {{home.activeProject.stack}}
          </li>
        </ul>
        <ul>
          <li ng-show="home.activeProject.demo_link || home.activeProject.github_link" class="bottom-links">
            <a ng-href="{{home.activeProject.demo_link}}" ng-show="home.activeProject.demo_link">Project Page</a> <a ng-href="{{home.activeProject.github_link}}" ng-show="home.activeProject.github_link">GitHub Repo</a>
          </li>
        </ul>
      </div>
<!-- 
-->        
    </div>
    
  </div>
  <ul ng-show="!home.activeProject">
    <li class="project-thumb"
    ng-repeat="project in home.projects" 
    ng-mouseenter="home.focusedProject = project" 
    ng-mouseleave="home.focusedProject = null"
    view-project
    project="{{project.id}}"
    >
      <div class="project-label" ng-show="home.focusedProject === project">{{project.display_name}}</div>
      <div class="backdrop" ng-show="home.focusedProject === project"></div>
      <img ng-src="{{project.thumb_path}}">
    </li>
  </ul> 
</section>
