<header class="blog-header">
  <div class="stripe"></div>

  <div class="width-wrapper">
    <h1>
      <span class="the">
        <span class="t">T</span><!--
     --><span class="h">H</span><!--
     --><span class="e">E</span>
      </span>
      <span class="blog">
        &nbsp;&nbsp;
        <span class="b">B</span><!--
     --><span class="l">L</span><!--
     --><span class="o">O</span><!--
     --><span class="g">G</span>
     </span>

    </h1>

    <div class="icons">
      <%= link_to root_path, class: 'icon1' do %><i class="icon icon-home"></i><% end %>
      <a href="https://github.com/joshwcomeau" class="icon2"><i class="icon icon-github"></i></a>
      <a href="https://twitter.com/JoshWComeau" class="icon3"><i class="icon icon-twitter"></i></a>

    </div>
  </div>

  <div class="text-covering-effect"></div>

</header>
