*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100%;
  font-family: 'fira sans';
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #6c6f6e;
}

.main-heading {
  font-family: 'officina sans';
  font-size: 90px;
  font-weight: bold;
  margin-bottom: 2rem;
  color: #FFF;
  transition: transform 400ms;
  will-change: transform;
  cursor: default;
  white-space: nowrap;
}

.main-heading > span {
  opacity: 0.2;
  transition: opacity 250ms;
  will-change: opacity;
}

.invisible {
  opacity: 0;
}

.home-section, .contact-section, .background {
  position: absolute;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
  overflow: hidden;
  pointer-events: none;
}

.background {
  background: #c9d3d2;
}

.home-section {
  z-index: 1;
}
.home-section.active {
  pointer-events: all;
}
.contact-section {
  z-index: 2;
}
.contact-section.active {
  pointer-events: all;
}

.about-me {
  position: absolute;
  top: 0;
  left: 5%;
  right: 50%;
  bottom: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: opacity 1000ms;
  will-change: opacity;
}

.about-paragraphs {
  max-width: 600px;
}

.about-paragraphs p {
  margin-bottom: 2rem;
  line-height: 1.4em;
}

.social-media-links {
  margin: 2.5rem 0;
}
.social-media-links a {
  text-decoration: none;
  margin-right: 1rem;
}
.social-media-links img {
  width: 23px;
  height: 23px;
}

.translation-controls {
  position: absolute;
  z-index: 10;
  width: 7%;
  top: 0;
  bottom: 0;
  right: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.translation-control {
  font-size: 10px;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  color: #686c73;
  border: 1px solid #686c73;
  margin: 15px;
  cursor: pointer;
}

.say-hello {
  font-weight: bold;
  color: #6c6f6e;
  text-decoration: none;
}
.say-hello-text {
  display: inline-block;
  border-bottom: 1px solid #6c6f6e;
  pointer-events: none;
}
.say-hello .arrow-right {
  height: 17px;
  vertical-align: bottom;
  pointer-events: none;
}

.main-image {
  position: absolute;
  z-index: 3;
  right: 5px;
  bottom: 0;
  border-bottom: 10px solid #FFF;
  max-width: 40%;
  max-height: 95%;
  transition: transform 1000ms;
  will-change: transform;
  overflow: hidden;
}

.thiago {
  position: relative;
  max-width: 100%;
  max-height: 100%;
  margin-bottom: -3px;
}

.contact-form {
  position: absolute;
  right: 5px;
  bottom: 0;
  max-width: 45%;
  max-height: 95%;
}

.contact-outline, .contact-contents {
  position: absolute;
  z-index: 0;
  width: 85%;
  height: 75%;
  right: 15%;
  bottom: 15%;
}

.contact-outline {
  border: 1px solid #FFF;
}

.contact-contents {
  background: #333545;
  box-shadow: 0px 10px 45px rgba(0,0,0,0.3);
  opacity: 0;
  transition: opacity 1000ms;

}
.contact-contents.active {
  opacity: 1;
  transition: opacity 1000ms 750ms;
}

.contact-contents .close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  text-decoration: none;
}
.contact-contents .close img {
  width: 50px;
  height: 50px;
  pointer-events: none;
}

.contact-contents h3 {
  font-size: 36px;
  font-weight: 100;
  color: #FFF;
  padding: 10%;
}

.contact-contents .input-field {
  padding: 0 10%;
  margin: 1rem 0;
}

.contact-contents label {
  left: 10%;
}

.contact-contents .submit {
  position: absolute;
  height: 60px;
  bottom: -30px;
  right: -15px;
  background: #ffd69d;
  padding: 0 4rem;
  box-shadow: 0px 10px 45px rgba(0,0,0,0.3);
  border: 0;
  font-weight: bold;
}

.contact-contents .submit.active {
  animation: buttonSlideOutDesktop 1500ms 500ms both;
}

/* Mobile */
@media ( max-width: 800px ) {
  .about-me {
    left: 5%;
    right: 5%;
  }

  .translation-controls {
    width: auto;
    top: 20px;
    bottom: auto;
    right: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .translation-control {
    margin: 10px 10px;
  }

  .main-image {
    display: none;
  }

  .contact-section {
    z-index: 3;
  }

  .contact-form {
    top: 0;
    left: 3%;
    right: 3%;
    bottom: 0;
    margin: auto;
    max-width: 94%;
    max-height: 80%;

  }

  .contact-outline {
    border: 0;
  }

  .contact-contents {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
  }
  .contact-contents .submit {
    left: 0;
    right: 0;
    width: 180px;
    margin: auto;
  }
  .contact-contents .submit.active {
    animation: buttonSlideOutMobile 1500ms 500ms both;
  }
}


/* Animations */
@keyframes buttonSlideOutDesktop {
  from { transform: translate(-30px, -45px); },
  to { transform: translate(0, 0); }
}
@keyframes buttonSlideOutMobile {
  from { transform: translateY(-45px); },
  to { transform: translateY(0); }
}



/* Materialize Overrides */
input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #ffd69d;
  box-shadow: 0 1px 0 0 #ffd69d;
}

input:not([type]):focus:not([readonly])+label, input[type=text]:focus:not([readonly])+label, input[type=password]:focus:not([readonly])+label, input[type=email]:focus:not([readonly])+label, input[type=url]:focus:not([readonly])+label, input[type=time]:focus:not([readonly])+label, input[type=date]:focus:not([readonly])+label, input[type=datetime]:focus:not([readonly])+label, input[type=datetime-local]:focus:not([readonly])+label, input[type=tel]:focus:not([readonly])+label, input[type=number]:focus:not([readonly])+label, input[type=search]:focus:not([readonly])+label, textarea.materialize-textarea:focus:not([readonly])+label {
  color: #ffd69d;
}

textarea.materialize-textarea {
  min-height: 16.8px;
  height: 16.8px;
  padding: 1.2rem 0 0.8rem;
}
