// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/* NEW ACCOUNT */
.register_account_div {
  width: 70%;
  margin: 25px 0px;
  border-radius: 14px;
  border: 1px dotted #AAA;
  padding: 10px;
}

.register_account_div label {
  display: block;
  width: 170px;
}

.register_account_div input[type=text], input[type=password] {
  display: block;
  width: 400px;
  margin: 5px 0px;
  padding: 4px;
  border: 1px solid #AAA;
  border-radius: 5px;
  vertical-align: top;
  outline: none;
}
.register_account_div input[type=text]:focus, input[type=password]:focus {
  border: 1px solid #FC0;
  box-shadow: 
    1px 1px 0px #FFEA00,
    2px 2px 0px #FFFF00,
    3px 3px 0px #ACDB00,
    4px 4px 0px #7BC200;
  
}

.register_errors {
  float: right;
  width: 250px;
}

