<!doctype html>
<html lang="en" ng-app="sortCircuit">
<head>
  <meta charset="utf-8">

  <title>Sort Circuit - Sorting Algorithms Visualized.</title>
  <meta name="description" content="A comparison of several basic sorting algorithms, with visual representation.">
  <meta name="author" content="Joshua Comeau">

  <!--   <link rel="shortcut icon" href="/favicon.ico"> -->

  <link rel="stylesheet" href="styles/reset.css">
  <link rel="stylesheet" href="styles/skeleton.css">
  <link rel="stylesheet" href="styles/skin.css">

  <!--[if lt IE 9]>
  <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->
  
  <script src="vendor/jquery_1.11.1.js"></script>
  <script src="vendor/underscore.min.js"></script>
  <script src="vendor/angular/angular.js"></script>


  <script src="scripts/base.js"></script>
  <script src="scripts/selection_sort.js"></script>
  <script src="scripts/insertion_sort.js"></script>
  <script src="scripts/bubble_sort.js"></script>
  <script src="scripts/app.js"></script>
</head>

<body>

<div ng-controller="SelectionController as selection">
  <label>Enter some comma-separated numbers: <input ng-model="list" ng-change="format_list(list)" type="text" placeholder="eg. 4, 1, -5, 13, 5"> <input ng-click="sort_list()" type="button" value="Sort!"></label>
  <div id="working_stack">
    <ul>
      <li ng-repeat="object in working_objects track by object.position" class="list_item">{{ object.number }}</li>
    </ul>
  </div>
  <div id="finished_stack">
    <ul>
      <li ng-repeat="object in sorted_objects track by object.position" class="list_item">{{ object.number }}</li>
    </ul>
  </div>
</div>

<script>

// Quick sample array for testing.
arr = [1,4,2,8,11,45,6,0,-3,2];

</script>
</body>
</html>









