body {
    margin: 0;
}

.nav {
    background-color: #383737;
}

.nav-dropdown {
    padding: 20px;
    color: #fff;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.nav-dropdown:hover > .dropdown-menu {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #03a9f4;
}

.dropdown-menu {
    display: none;
}

.menu-list {
    margin: 0;
    padding: 0;
}

.menu-list > li {
    list-style-type: none;
    padding: 20px;
}

.menu-list > li:hover {
    background-color: dodgerblue;
}
