@import 'css-reset.css';

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.board {
    background: #eaeaea;
    display: grid;
    grid-gap: 2px;
    border: 2px solid #808080;
    margin: 32px 0;
}

.cell {
    background: #fff;
    cursor: pointer;
}

.cell:hover {
    background-color: #808080;
    transition: background-color linear 300ms;
}

.form {
    display: flex;
    justify-content: space-around;
    margin: 32px 0 0;
    width: 200px;
}

.form-item {
    display: flex;
    flex-direction: column;
}

.form-item label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin-bottom: 3px;
    text-align: center;
    font-weight: 700;
}

.form-item input {
    box-sizing: border-box;
    height: 32px;
    width: 64px;
    padding: 8px;
}