@import 'css-reset.css';

body {
    background: #fafafa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h1 {
    text-align: center;
}

.panel {
    background: #fff;
    border: 2px solid #606060;
    border-radius: 2px;
    padding: 24px;
    height: 200px;
}

.buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 56px auto 0;
    width: calc(84px * 4);
}

button {
    flex: 0 0 25%;
    border: 1px solid grey;
    cursor: pointer;
    height: 80px;
    width: 80px;
    transition: all linear 500ms;
    font-size: 32px;
    margin: 2px;
}

.reset {
    font-size: 18px;
    height: 30px;
    width: calc((84px * 4) - 4px);
}

.jitters {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    animation-iteration-count: infinite;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
  }