
//// COLORS
// Primary Site Colors
$navy:    #30505C;
$green:   #45B29D;
$yellow:  #EFC94C;
$orange:  #E27A3F;
$red:     #DF4949;

// Subtle Accent Colors
$aqua:    #34BDBF;
$blue:    #4597B2;
$grass:   #34BF57;
$bbblue:  #0094CF;
$lorange: #f19838;

// Shades
$beige:     #EFEDE7;
$white:     #F0F0F0;
$darkgrey:  #333333;
$lightgrey: #CCCCCC;


//// GRID
// Sizes
$gutter_size: 25px;

// Breakpoints
$small_breakpoint:  600px;
$medium_breakpoint: 1024px;


//// MISC
// Button width
$button_width: 250px;