*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
 }

body {
  background: url('woodbg.jpg');
  font-family: 'Ubuntu';
}

a {
  color: #50A7E3;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

#wrapper_outer {
  width: 770px;
  margin: 30px auto;
  padding: 0px 2px 4px 0px;
  background: #D9522F;
  border-radius: 15px;
  box-shadow: 3px 3px 5px #000;
}
#wrapper_inner {
  padding: 15px;
  margin: 0px;
  background: #FBFBFB;
  border-radius: 15px;

}

header h1 {
  background: #222;
  margin: -13px -13px 0px -13px;
  padding: 10px 10px 13px 10px;
  font-weight: 700;
  font-size: 46px;
  letter-spacing: -3px;
  text-align: center;
  border-radius: 15px 15px 0px 0px;
  border-bottom: 3px solid #DBA848;
}
  header h1 a {
    color: #DBA848;
    text-decoration: none;
  }
  header h1 a:hover {
    color: #EDBB5C;
    text-decoration: none;
  }

.highlight {
  padding: 6px;
  border-radius: 4px;
  background: #FFEBA5;
}
.bluetext {
  color: #50A7E3;
}

/* HOMEPAGE */
#crm_status {
  font-size: 16px;
  margin: 20px;
  text-align: center;
}


/* VIEW CONTACTS */
#status_side {
  font-size: 26px;
  margin: 20px;
  text-align: center;
}
#status_side_contacts {
  font-size: 26px;
  margin: 20px;
  text-align: center;
}
#contacts_list {
  list-style-type: none;
}
  .contacts_list > li {
    position: relative;
    display:inline-block;
    vertical-align: top;
    width: 350px;
    height: 160px;
    margin: 10px 8px;
    border: 1px dotted #DDD;
    border-radius: 5px;
    padding: 10px 20px;
    -webkit-transform: scale(1,1);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1,1);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
  }
  .contacts_list > li:hover {
    border: 1px dotted #999;
    background: #FFFFFF;
    -webkit-transform: scale(1.05,1.10);
    -webkit-transition-timing-function: ease-out;
    -webkit-transition-duration: 250ms;
    -moz-transform: scale(1.05,1.10);
    -moz-transition-timing-function: ease-out;
    -moz-transition-duration: 250ms;
    position: relative;
    z-index: 99;
  }
  .contacts_list > li:hover .c_delete {
    opacity: 1.0;
    transition: 0.3s;
  }
.c_id_div {
  position: absolute;
  background: #000;
  padding: 6px;
  font-size: 12px;
  color: #FFF;
  border-radius: 20px;
  left: 10px;
  top: 10px;
  opacity: 0.5;
  cursor: default;
}
  .c_id_link {
    color: #FFF;
  }
.c_name {
  font-size: 22px;
  color: #006FA3;
  text-align: center;
}
.c_email {
  margin-top: 5px;
  font-size: 15px;
  color: #444;
  text-align: center;
}
#notes_list {
  list-style-type: decimal;
  margin: 15px 5px;
  font-size: 14px;

}
  #notes_list li {
    margin-bottom: 15px;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-style: italic;
    color: #555;
    text-align: center;
  }

.c_dates {
  position: absolute;
  width: 308px;
  bottom: 15px;
  font-size: 12px;
  line-height: 1.25em;
  text-align: center;
  color: #AAA;
  font-family: 'Gafata';
}
#add_contact_list_item {
  border: 0px;
  background: #CCC;
  color: #FFF;
  font-size: 118px;
  height: 160px;
  text-align: center;
  transition: 0.25s;
}
  #add_contact_list_item a {
    color: #FFF;
    text-decoration: none;
    display: block;
  }
  #add_contact_list_item:hover {
    background: #50A7E3;
    text-shadow:1px 1px 1px #000;
    transition: 0.25s;
  }
.c_delete {
  position: absolute;
  right: 7px;
  top: 7px;
  opacity: 0;
  transition: 0.3s;
}
.delete_button_contacts {
  background: #A84D31;
  width: 19px;
  height: 19px;
  border: 0px;
  border-radius: 15px;
  color: #FFF;
  font-size: 9px;
  text-shadow: 1px 1px 1px #A33417;
  outline: none;
}
  .delete_button_contacts:hover {
    background: #D9522F;
  }
  .delete_button_contacts:active {
    background: #FF3500;
  }
#delete_confirm {
  margin-left: 15px;
  font-size: 22px;
  font-weight: 700;
  color: #D9522F;
  padding-top: 5px;
  line-height: 22px;
}
#restore_confirm {
  margin-left: 15px;
  font-size: 22px;
  font-weight: 700;
  color: #6E9E2F;
  padding-top: 5px;
  line-height: 22px;
}
#undo_button {
  height: 22px;
  padding: 0px;
  margin: 0px 10px;
  background: transparent;
  border: 0px;
  font-size: 13px;
  color: #5497C4;
  outline: none;
  cursor: pointer;
}
  #undo_button:hover {
    color: #0097FF;
    text-decoration: underline;
  }
#search_div {
  width: 400px;
  text-align: right;
  float: right;
  padding-right: 15px;
}
  #search_div input[type=text] {
    font-size: 12px;
    font-family: 'Ubuntu';
    padding: 5px;
    line-height: 1.3em;
    font-family: 'Ubuntu';
    border-top: 1px solid #DDD;
    border-left: 1px solid #CCC;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #AAA;
    border-radius: 5px;
    outline: none;
    margin-right: 5px;
  }
    #search_div input[type=text]:focus {
      border-top: 1px solid #EDCB8C;
      border-left: 1px solid #C9AD79;
      border-right: 1px solid #C9AD79;
      border-bottom: 1px solid #B09A71;
      box-shadow: 1px 1px 4px #DBA848;
      transition: 0.2s;
    }
  #search_submit {
    background: #6E9E2F;
    color: #FFF;
    padding: 6px 10px;
    font-size: 11px;
    font-family: 'Ubuntu';
    border-radius: 5px;
    border: 0px;
    box-shadow: 1px 1px 0px #448221;
    outline: none;
    transition: 0.25s;
  }
    #search_submit:hover {
      background: #88BD42;
      text-shadow: 1px 1px 1px #6E9E2F;
      transition: 0.25s;
    }
  #search {
    color: #579E2E;
  }
  #search_num {
    color: #333;
    margin-top: 5px;
    font-size: 13px;
  }



/* ADD CONTACTS */
#add_contact_section table {
  margin: 0 auto;
  width: 620px;
}
  #add_contact_section td {
    padding: 5px;
    border-bottom: 1px dotted #CCC;
  }
  #add_contact_section input[type=text], #add_contact_section input[type=email] {
    padding: 7px;
    font-size: 14px;
    line-height: 1.3em;
    font-family: 'Ubuntu';
    outline: none;
    border-top: 1px solid #DDD;
    border-left: 1px solid #CCC;
    border-right: 1px solid #BBB;
    border-bottom: 1px solid #AAA;
    border-radius: 5px;
    transition: 0.2s;
  }
  #add_contact_section input[type=text]:focus, #add_contact_section input[type=email]:focus {
    border-top: 1px solid #EDCB8C;
    border-left: 1px solid #C9AD79;
    border-right: 1px solid #C9AD79;
    border-bottom: 1px solid #B09A71;
    box-shadow: 1px 1px 4px #DBA848;
    transition: 0.2s;
  }
.col_label {
  width: 90px;
  text-align: center;
}
.col_smallfield {
  width: 220px;
}
.smallfield {
  width: 200px;
}
.rightborder {
  border-right: 1px dotted #CCC;
}
.col_largefield {

}
.largefield {
  width:528px;
}
.col_submit {
  text-align: center;
}
.col_submit input {
  width: 175px;
  height: 38px;
  margin: 10px 0px 20px 0px;
  background: #428BBD;
  color: #FFF;
  text-shadow: 1px 1px 1px #2E668C;
  font-size: 20px;
  font-family: 'Ubuntu';
  font-weight: 700;
  border: 2px solid #F8F8F8;
  border-radius: 12px;
  box-shadow: 0px 4px 4px -4px rgba(0,0,0,0.7);
  outline: none;
}
.col_submit input:hover {
  background: #50A7E3;
}
.col_submit input:active {
  background: #333;
}

#added_contact_section {
  width: 550px;
  margin: 0 auto;
}
.added_col {
  width: 50%;
  float: left;
  margin-bottom: 20px;
}
.added_label {
  text-align: center;
  font-size: 15px;
  color: #666;
  margin: 6px;
}
.added_info {
  font-size: 24px;
  text-align: center;
  color: #D9522F;
  padding-bottom: 8px;
}

#actions {
  clear: both;
  padding-top: 4px;
  border-top: 1px dotted #AAA;
}
.action {
  box-sizing:border-box;
  -moz-box-sizing:border-box; /* Firefox */
  width: 25%;
  text-align: center;
  float: left;
  border-right: 1px solid #FFF;
}
  .action a {
    color: #FFF;
    display: block;
    padding: 7px 12px 12px 12px;
    transition: 0.25s;
  }
  .action a:hover {
    text-decoration: none;
    transition: 0.25s;
  }
  .action_line1 {
    font-size: 42px;
    letter-spacing: -1px;
  }
  .action_line2 {
    font-size: 13px;
  }
#action_add {
  background: #50A7E3;
  border-radius: 10px 0px 0px 10px;
}
  #action_add a:hover {
    background: #70C5FF;
    text-shadow: 1px 1px 2px #50A7E3;
    border-radius: 10px 0px 0px 10px;

  }
#action_edit {
  background: #DBA848;
}
  #action_edit a:hover {
    background: #FFC861;
    text-shadow: 1px 1px 2px #DBA848
  }
#action_view {
  background: #88BD42;
}
  #action_view a:hover {
    background: #A5E354;
    text-shadow: 1px 1px 2px #88BD42
  }
#action_delete {
  position: relative;
  background: #D9522F;
  border-radius: 0px 10px 10px 0px;
}
  #action_delete a:hover {
    background: #FC623A;
    text-shadow: 1px 1px 2px #D9522F;
    border-radius: 0px 10px 10px 0px;

  }
  #secret_delete_button {
    width: 138px;
    height: 74px;
    position: absolute;
    top: 0px;
    left: 0px;
    background: transparent;
    color: transparent;
    border: 0px;
    cursor: pointer;
  }

/* EDIT CONTACT */


#contact_name_div {
  text-align: center;
}

#contact_name {
  text-align: center;
  font-size: 46px;
  line-height: 1.25em;
  margin: 20px 0px 0px 0px;
  width: 700px;
  color: #D9522F;
  outline: none;
  letter-spacing: -2px;
  background: transparent;
  border: 0px;
}
  #contact_name:focus, #contact_email:focus, .note:focus {
    background: #FFF5C9;
  }
#contact_email_div {
  text-align: center;
}
#contact_email  {
  text-align: center;
  width: 700px;
  font-size: 22px;
  line-height: 1.25em;
  color: #555;
  font-family: 'Gafata';
  text-align: center;
  margin-bottom: 0px;
  outline: none;
  background: transparent;
  border: 0px;
}
#contact_edit_instructions {
  text-align: center;
  margin: 6px 0px 20px 0px;
  font-size: 12px;
  color: #555;
}
#notes_holder {
  float: left;
  margin-left: 20px;
  margin-bottom: 25px;
  background: #EEEEEE;
  border-radius: 15px;
  padding: 15px 15px 8px 15px;
  box-shadow: 1px 1px 0px #CCC;
  width: 470px;

}
  #notes_title {
    color: #FFF;
    background: #AAA;
    text-align: center;
    margin: -15px -15px 5px -15px;
    padding: 4px;

    border-radius: 15px 15px 0px 0px;
  }

  .note {
    font-size: 17px;
    font-family: 'Gafata';
    padding: 5px 9px;
    outline: none;
    border: 0px;
    border-bottom: 1px dotted #AAA;
    background: transparent;
    width:435px;
  }
  .note:first-child {
    border-radius: 12px 12px 0px 0px;
  }
  .note:last-child {
    border-radius: 0px 0px 12px 12px;
    border-bottom: 0px;
  }
#submit_holder {
  margin-top: 10px;
  margin-right: 15px;
  text-align: center;
}

.contact_buttons {
  margin: 0;
  padding: 0;
  text-align: center;
}
  .contact_buttons a {
    display: inline-block;
    width: 200px;
    height: 38px;
    line-height: 35px;
    margin: 0px;
    color: #FFF;
    font-size: 20px;
    font-family: 'Ubuntu';
    font-weight: 700;
    border-bottom: 1px solid #F8F8F8;
    border-radius: 0px;
    outline: none;
    transition: 0.2s;
  }

  #contact_button1 input {
  width: 200px;
  height: 38px;
  margin: 0px;
  background: #579E2E;
  color: #FFF;
  font-size: 20px;
  font-family: 'Ubuntu';
  font-weight: 700;
  border: 0px;
  border-bottom: 1px solid #F8F8F8;
  border-radius: 15px 15px 0px 0px;
  outline: none;
  cursor: pointer;
  transition: 0.2s;
  }
  #contact_button1 input:hover {
    background: #6EB844;
    text-shadow: 1px 1px 0px #579E2E;
    transition: 0.2s;
  }
  #contact_button1 input:active {
    background: #222;
    transition: 0s;
  }
  #contact_button2 a {
    background: #DBA848;
  }
  #contact_button2 a:hover {
    background: #FFC861;
    text-shadow: 1px 1px 0px #DBA848;
    text-decoration: none;
    transition: 0.2s;
  }
  .contact_buttons a:active {
    background: #222;
    transition: 0s;
  }

  #contact_button3 a {
    background: #50A7E3;
  }
  #contact_button3 a:hover {
    background: #70C5FF;
    text-shadow: 1px 1px 0px #50A7E3;
    text-decoration: none;
    transition: 0.2s;
  }

  #delete_holder {
    margin-right: 15px;
    text-align: center;
    margin-bottom: 70px;
  }
  #contact_button4 input {
  width: 200px;
  height: 38px;
  margin: 0px;
  color: #FFF;
  font-size: 20px;
  font-family: 'Ubuntu';
  font-weight: 700;
  border: 0px;
  border-bottom: 1px solid #F8F8F8;
  outline: none;
  cursor: pointer;
  transition: 0.2s;

    background: #D9522F;
    border-radius: 0px 0px 15px 15px;
  }
  #contact_button4 input:hover {
    background: #FC623A;
    text-shadow: 1px 1px 0px #D9522F;
    text-decoration: none;
    transition: 0.2s;
  }
