<!DOCTYPE html>
<html>
  <head>
    <title>CRM 0.0.0.1</title>
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/style.css">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700|Fredoka+One|Gafata' rel='stylesheet' type='text/css'>
    <script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
  </head>

  <body>
    <div id="wrapper_outer"><div id="wrapper_inner">
      <header>
        <h1><a href="/contacts"><%= @app_name %></a></h1>
      </header>
      <%= yield %>
    </div></div>
  </body>
</html>
