      <section id="status">
        <p id="crm_status">There are currently <span class="highlight"><%= Contact.count %> contacts</span> in your rolodex. <a href="/contacts">View all contacts</a>
      </section>
      <img src="rolodex.png" style="margin-left: -15px; margin-bottom: -17px; margin-top: 15px; border-radius: 0px 0px 15px 15px">
