/////// COLORS
// Palette from https://color.adobe.com/Pear-Lemon-Fizz-color-theme-1833017/
$blue:        #04BFBF;
$lightblue:   #CAFCD8;
$yellow:      #F7E967;
$lightgreen:  #A9CF54;
$green:       #588F27;

$lightgrey:   #effff4;
$darkgrey:    #2d312e;

// Tints and shades (when I want more precise control)
$desaturated-lightblue: #b5dfc1;