@import 'variables';

// Color stuffs
.blue           { color: $blue; }
.lightblue      { color: $lightblue; }
.yellow         { color: $yellow; }
.lightgreen     { color: $lightgreen; }
.green          { color: $green; }
.lightgrey      { color: $lightgrey; }
.darkgrey       { color: $darkgrey; }

.bg-blue        { background-color: $blue       !important; }
.bg-lightblue   { background-color: $lightblue  !important; }
.bg-yellow      { background-color: $yellow     !important; }
.bg-lightgreen  { background-color: $lightgreen !important; }
.bg-green       { background-color: $green      !important; }
.bg-lightgrey   { background-color: $lightgrey  !important; }
.bg-darkgrey    { background-color: $darkgrey   !important; }


// Positioning stuffs
.left           { text-align: left; }
.right          { text-align: right; }
.center         { text-align: center; }
.justify        { text-align: justify; }

.fleft          { float: left; }
.fright         { float: right; } // Boo!


// Font stuffs
.light          { font-weight: 300; }
.regular        { font-weight: 400; }
.medium         { font-weight: 500; }
.bold           { font-weight: 700; }

.smaller        { font-size: 0.8em !important; }
.bigger         { font-size: 1.2em !important; }

.monospace      { font-family: monospace; }

// Transitions
.t-vquick       { transition: 0.2s; }
.t-quick        { transition: 0.4s; }
.t-norm         { transition: 0.6s; }
.t-slow         { transition: 0.9s; }
.t-vslow        { transition: 1.5s; }


// Misc stuffs
.abs-center     {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  // Also requires a given width and height.
}

.width-wrapper {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}
// Make a series of elements take up equal portions of the full parent width.
// 3 items = 33.3% each, 4 items = 25%, etc.
.children-fill-width {
  /* three items */
  &:first-child {
    width: 100%;
  }
  /* three items */
  &:first-child:nth-last-child(2),
  &:first-child:nth-last-child(2) ~ & {
    width: 50%;
  }
  /* three items */
  &:first-child:nth-last-child(3),
  &:first-child:nth-last-child(3) ~ & {
    width: 33.3333%;
  }

  /* four items */
  &:first-child:nth-last-child(4),
  &:first-child:nth-last-child(4) ~ & {
    width: 25%;
  }

  /* five items */
  &:first-child:nth-last-child(5),
  &:first-child:nth-last-child(5) ~ & {
    width: 20%;
  }

  /* six items */
  &:first-child:nth-last-child(6),
  &:first-child:nth-last-child(6) ~ & {
    width: 16.6666%;
  }
}