@import 'variables';

section.blog {
  background: $blue;
  min-height: 400px;

  .width-wrapper {
    padding: 2rem 0.5rem 6rem 0.5rem;
    max-width: 1200px;
  }
  .intro {
    font-size: 2rem;
    margin: 1rem auto;
    line-height: 1.2em;
    letter-spacing: -1px;
    text-shadow: 1px 1px 0px darken($blue, 4%);
    font-weight: 500;
    color: #FFF;
    text-align: center;
  }

  .card-holder {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0.5rem;

    a {
      display: block;
      color: #000;
      text-decoration: none;
    }

    .card {
      position: relative;
      background: #EEE;
      transition: 0.5s;
      border-bottom: 6px solid $blue;
      top: 0;

      &:hover {
        top: -6px;
        background: #FFF;
        border-bottom: 6px solid darken($blue, 10%);
        border-radius: 0 0 6px 6px;
        transition: 0.25s;

        img {
          opacity: 1;
        }
      }

      .description {
        padding: 0.5rem;
        text-align: center;
      }

      img {
        opacity: 0.95;
        width: 100%;
      }
      .title {
        font-size: 1.5rem;
        font-weight: 700;
        margin-bottom: 1rem;



        a {
          position: relative;
          z-index: 2;


          &:before {
            content: " ";
            position: absolute;
            z-index: -1;
            width: 70%;
            left: 15%;
            bottom: 0.15rem;
            margin: auto;
            border-bottom: 3px solid $lightgreen;
          }
        }
      }
      p {
 
        font-size: 1rem;
        opacity: 0.9;
        padding: 0 1rem;
        margin-bottom: 1rem;
      }
      footer {
        background: #EEE;
        padding: 0.5rem;
      }
      .author {
        font-size: 1rem;
        font-weight: 400;
        color: $green;
      }
      .date {
        opacity: 0.6;
        font-size: 0.8rem;
      }
    }
  }

}

@media screen and (min-width: 550px) {
  section.blog {
    .card-holder {
      width: 50%;
    }
  }
}

@media screen and (min-width: 900px) {
  section.blog {
    .card-holder {
      width: 33.333%;
    }
  }
}

@media screen and (min-width: 1000px) {
  section.blog {
    .card-holder {
      width: 25%;
    }
  }
}