<header ng-class="{'game-active': global.manager.state === 'running'}">
  <div class="logosquares">
    <div class="bg-lightblue"></div><div class="bg-orange"></div><div class="bg-tan"></div><div class="bg-darkblue"></div>
  </div>
  <h1>PixelPlay</h1>

  <div class="new-game"><a href="/game">{{ global.manager.state === 'running' ? "Restart" : "Start New Game" }}</a></div>

  <div class="logged-in-menu" ng-if="global.currentUser">
    <div class="menu-header">
      <img ng-src="{{global.currentUser.avatars.small.http}}"> 
    </div>
  </div>
</header>