body {
  margin: 0;
  font-family: Poppins, sans-serif;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  min-height: 100vh;
  background-image: url('./imgs/bg.jpg');
  background-size: cover;
  background-position: center;
  color: #fff;
}

h1 {
  text-shadow: 1px 1px 5px black;
}
