$color-blue:      #2A3744;
$color-green:     #849A41;
$color-orange:    #E16436;
$color-sand:      #C2A86E;
$color-offwhite:  #ECE8CE;


$height-header:   12rem;
$height-stripe1:  2rem;
$height-stripe2:  3rem;
$height-postcard: 23rem;

$width-max:       42rem; 
$width-postcard:  $width-max;

$border-postcard: 1rem;