<footer class="main-footer" ng-show="!home.activeProject">
  <span class="line line-1">This portfolio was built by <strong>Joshua Comeau</strong>.</span> 
  <span class="line line-2">Copyright <span class="monospace">Date.now()</span>. All rights, wrongs, and grey areas reserved.</span>
</footer>
