<header class="main-header">
  <div class="social-media">
    <a href="https://github.com/joshwcomeau" class="icon1"><i class="icon icon-github"></i></a>
    <a href="https://www.linkedin.com/profile/view?id=340630788" class="icon2"><i class="icon icon-linkedin"></i></a>
    <a href="https://www.twitter.com/joshwcomeau" class="icon3"><i class="icon icon-twitter"></i></a>
  </div>
  <div class="my-face">
    <div class="text-helper"></div>
    <%= image_tag 'josh_face_68rem.jpg' %>
  </div>
  <div class="my-face-spacer"></div>

  <div class="headings">
    <h1 class="perc75">Why hello there!</h1>
    <h3 class="mobile"><span class="perc75">I'm Josh, and I'm a</span><span class="perc75">full-stack</span><span class="perc75">web developer &amp;</span><span class="perc75">software engineer.</span></h3>
    <h3 class="non-mobile">I'm Josh, and I'm a full-stack web developer &amp; software engineer.</h3>
    <h5>For the past few years, I've been captivated by code. It's been one hell of a ride.</h5>
  </div>
</header>
